{% extends 'layouts/app.html' %}


{%block content%}

     {% if user.is_authenticated %}
        <script>
            window.location.href = "/home";
        </script>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Registrarte</div>

                    <div class="panel-body">
                        <form class="form-horizontal" method="POST" >
                            {% csrf_token %}

                            <div class="form-group">
                                <label for="first_name" class="col-md-4 control-label">Nombre</label>

                                <div class="col-md-6">
                                    <input placeholder="Escribe tu nombre" id="first_name" type="text" class="form-control" name="first_name"  required autofocus>


                                </div>
                            </div>


                            <div class="form-group">
                                <label for="last_name" class="col-md-4 control-label">Apellidos</label>

                                <div class="col-md-6">
                                    <input placeholder="Escribe tus apellidos" id="last_name" type="text" class="form-control" name="last_name"  required autofocus>


                                </div>
                            </div>



                            <div class="form-group">
                                <label for="email" class="col-md-4 control-label">Correo electronico</label>

                                <div class="col-md-6">
                                    <input placeholder="Escribe tu correo electronico" id="email" type="email" class="form-control" name="email" required>

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="username" class="col-md-4 control-label">Nombre de usuario</label>

                                <div class="col-md-6">
                                    <input placeholder="Escribe tu nombre de usuario" id="username" type="text" class="form-control" name="username" required>

                                </div>
                            </div>


                            <!--
<div class="form-group">
                                <label for="departamento" class="col-md-4 control-label">Departamento</label>

                                <div class="col-md-6">

                                    <select class="form-control" name="departamento" id="departamento">
                                        <option value="1">INGENIERIA EN AGRONOMIA</option>
                                        <option value="2">INGENIERIA  ELECTRONICA</option>
                                        <option value="3">INGENIERIA INDUSTRIAL</option>
                                        <option value="4">INGENIERIA EN SISTEMAS COMPUTACIONALES</option>
                                        <option value="5">INGENIERIA EN GESTION EMPRESARIAL</option>
                                        <option value="6">INGENIERIA PETROLERA</option>
                                        <option value="7">CONTADOR PUBLICO</option>
                                        <option value="8">MAESTRIA EN INGENIERÍA INDUSTRIAL</option>
                                        <option value="9">INGENIERIA AMBIENTAL</option>
                                        <option value="10">MAESTRIA EN AGROBIOTECNOLOGIA</option>
                                        <option value="11">INGENIERIA MECATRÓNICA</option>
                                        <option value="12">MAESTRIA EN PRODUCCION PECUARIA TROPICAL</option>
                                        <option value="13">SERVICIOS ESCOLARES</option>
                                        <option value="14">DESARROLLO ACADEMICO</option>
                                    </select>



                                </div>

                            </div>

                            -->

                            <div class="form-group">
                                <label for="password" class="col-md-4 control-label">Contraseña</label>

                                <div class="col-md-6">
                                    <input placeholder="Escribe tu contraseña" id="password" type="password" class="form-control" name="password" required>


                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password_confirmation" class="col-md-4 control-label">Confirmar Contraseña</label>

                                <div class="col-md-6">
                                    <input placeholder="Confirma tu contraseña" id="password_confirmation" type="password" class="form-control" name="password_confirmation" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-4">
                                    <button type="submit" class="btn btn-primary">
                                        Registrarte
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

